/*
 * Container Component
 * Timmerfabriek Sint Nyk
 */

/* Mobile first */
.container {
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-64) var(--spacing-16);
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: var(--spacing-1280);
    padding: var(--spacing-96) var(--spacing-32);
  }
}

/* Navbar container - Mobile first */
.container-nav {
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-16);
}

/* Navbar container - Desktop */
@media (min-width: 1024px) {
  .container-nav {
    max-width: var(--spacing-1280);
    padding: var(--spacing-16) var(--spacing-32);
  }
}

/* Topbar container - Mobile first */
.container-topbar {
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-8) var(--spacing-16);
}

/* Topbar container - Desktop */
@media (min-width: 1024px) {
  .container-topbar {
    max-width: var(--spacing-1280);
    padding: var(--spacing-8) var(--spacing-32);
  }
}
