/*
 * Spacing System
 * Timmerfabriek Sint Nyk
 * Values in pixels
 */

:root {
  --spacing-0: 0;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --spacing-128: 8rem;
  --spacing-160: 10rem;
  --spacing-192: 12rem;
  --spacing-224: 14rem;
  --spacing-256: 16rem;
  --spacing-320: 20rem;
  --spacing-384: 24rem;
  --spacing-480: 30rem;
  --spacing-560: 35rem;
  --spacing-640: 40rem;
  --spacing-720: 45rem;
  --spacing-768: 48rem;
  --spacing-1024: 64rem;
  --spacing-1280: 80rem;
  --spacing-1440: 90rem;
  --spacing-1600: 100rem;
  --spacing-1920: 120rem;
}
